</body>
    <style>
        @keyframes slide-up {
            from {
                transform: translate(0, 100%);
            }
        }

     
        ._footer {
		    border-top: 5px  gray;
            transition: background-color 0.5s ease;
            /* animation: slide-up 1s ease; */
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            background-color: #2a2828;
            position: relative;
            margin-top: 200px;
            /* transform: translate(0, 85px); TODO */
        }

      
     


        ._footer > ._main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        
        ._footer > ._main > ._brand {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0.7;
            transition: opacity 0.35s ease;
            margin-bottom: 10px;
        }

        ._footer > ._main > ._brand:hover {
            opacity: 1;
        }

        ._footer > ._main > ._brand > ._logo {
            transition: filter 0.2s ease;
            width: 128px;
            height: 128px;
        }

        ._footer > ._main > ._brand > ._title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 7px;
        }

        ._footer > ._main > ._contact {
            color: #fff;
            margin-bottom: 3px;
        }

        ._footer > ._main > ._contact > a {
            text-decoration: underline;
        }

        ._footer > ._main > ._copy {
            color: #fff;
            font-size: 15px;
        }

        #footerpartners {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bolder;
            margin-bottom: 7px;
            color: #fff;
            opacity: 0.7;
        }

        #footerpartners:hover {
            opacity: 1;
        }
    </style>
    <div class="_footer">
        <div class="_main">
            <a href="" target="_blank" class="_brand">
                <div class="_title">Discord Bot Universe</div>
            </a>
            <a href="/partners">
                <div id="footerpartners">Our Partners</div>
            </a>
            <div class="_contact">Contact us at <a href="mailto:"></a></div>
            <div class="_copy">&copy; Discord Bot Universe 2019. All rights reserved.</div>
        </div>
    </div>
</html>
