<%- include('../partials/header.ejs') %>
<!-- Logo hide/show singularity (for this page only) -->
<style>
  nav.navbar > .container > .navbar-brand > a.navbar-item._brand {
      display: none;
  }

  nav.navbar.mini > .container > .navbar-brand > a.navbar-item._brand {
    display: flex;
  }

  section.hero.is-info.is-medium {
    animation: intro 1s;
    transition: all 0.2s ease;
    margin-top: 52px; /* 52px = navbar height */
  }

  section.hero.is-info.is-medium > .hero-body > .container {
    display: flex;
  }

  section.hero.is-info.is-medium > .hero-body {
    opacity: 0;
    animation: after-intro 1.4s 0.45s;
    animation-fill-mode: forwards;
    padding-top: 6.7rem;
    padding-bottom: 6.7rem;
  }

  @keyframes ghost-reveal-heart {
    /* jacob u there?  ok so let's make a view called footer but idk how since I dont work with ejs (a partial view?) just like a header but footer*/
    /* do u see the footer.ejs? oh yes I see lol
    /* ASSETS: just do https://botsfordiscord.com/img/image.png and it'll get it. link me the url for live site o i need to star tit up.*/
  }

  @keyframes after-intro {
    from {
      transform: translate(0, -20px);
    }

    to {
      opacity: 1;
    }
  }

  @keyframes intro {
    from {
      transform: translate(0, -300px);
    }
  }

  @keyframes float {
    to {
      transform: translate(0, -5px);
    }
  }

  section.hero.is-info.is-medium {
    margin-bottom: 200px;
    position: relative;
  }

  section.hero.is-info.is-medium > .hero-body > .container > .reveal > img._logo {
    width: 100px;
    height: 100px !important;
    align-self: left;
    margin-right: 13px;
    transition: transform 0.3s ease;
    animation: float 2.5s infinite alternate;
    z-index: 2;
  }

  section.hero.is-info.is-medium > .hero-body > .container > .reveal:hover > img._logo {
    animation: none;
    transform: rotate(10deg);
  }

  section.hero.is-info.is-medium > .hero-body > .container > ._subcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-left: 20px;
  }

  section.hero.is-info.is-medium > .hero-body > .container > ._subcontainer > .wumpus {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-end;
  }

  section.hero.is-info.is-medium > .hero-body > .container > ._subcontainer > .wumpus > img.top-hat-wumpus {
    border-radius: 20%;
    height: 55%;	
    width: 55%;
  }

  ._bot-list {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    max-width: 800;
  }

  section.hero.is-info.is-medium > .hero-body > .container > .reveal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.hero.is-info.is-medium > .hero-body > .container > .reveal > img._heart {
    opacity: 0;
    z-index: 1;
    height: 70px;
    width: 70px;
    transform: rotate(-10deg);
    transition: opacity 0.5s ease;
    /* animation: float 2.8s infinite alternate;
    animation-delay: 1s; */
  }

  section.hero.is-info.is-medium > .hero-body > .container > .reveal:hover > img._heart {
    transform: rotate(-10deg);
    opacity: 1;
  }


  /* Responsive botcards (from 4 columns -> 1) */
  @media all and (min-width: 1087px) {
    /*
      TODO: container -100px transform
    */
  }

  @media all and (max-width: 790px) {
    section.hero.is-info.is-medium > .hero-body > .container > ._subcontainer > .wumpus {
      display: none;
    }

    section.hero.is-info.is-medium > .hero-body > .container > ._subcontainer > .wumpus > img.top-hat-wumpus {
      display: none;
    }
  }

  /* nav bar animation revision by habchy idk atlas did I do this wrong? lol */
  nav.navbar.is-fixed-top {
    animation: intro 1s;
    animation-fill-mode: forwards;
  }
</style>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <div class="reveal">
          <img src="https://discordapp.com/assets/20d185289ca0178b8dd30d7605f6dc72.svg" class="_heart" />
          <img src="https://discordapp.com/assets/20d185289ca0178b8dd30d7605f6dc72.svg" class="_logo" />
      </div>
      <div class="_subcontainer">
          <div class="welcome">
              <h1 class="title">
                  Discord Bot Universe
              </h1>
              <h2 class="subtitle">
                Find the best bots to brighten up your Discord server!
              </h2>
          </div>
          <div class="wumpus">
            <!-- TODO: local copy -->
          </div>
      </div>
    </div>
  </div>
  
</section>
<section class="section">
    <h3 class="title is-3" id="titlefront">Featured Bots</h3>
    <h2 class="subtitle" id="subfront">Randomly picked Bots</h2>
  <div class="container is-fluid">
    <br>
    <div class="_bot-list columns is-multiline is-mobile">
      <% if (botsData.length == 0) { %>
      <h3 class="title is-3">No featured bots available.</h3>
      <% } else { %>
      <%- botChunk.map(chunk => `${chunk.map(bot => include("../partials/botcard.ejs", {bot, resubmit: false})).join("")}`).join("") %>
      <% } %>
    </div>
  </div>
</section>

<!-- Make the logo disappear/appear on scroll -->
<script>
    const body = document.querySelector("body");
    const html = document.querySelector("html");
    const nav = document.querySelector("nav.navbar");
  
    body.onscroll = (e) => {
      // 176.5 comes from the height of the HERO's height / 2 (so it triggers at the center)
      if (html.scrollTop >= 176.5) {
        const classes = nav.className.split(" ");
  
        if (classes.indexOf("mini") === -1) {
          classes.push("mini");
          nav.className = classes.join(" ");
        }
      }
      else {
        const classes = nav.className.split(" ");
  
        if (classes.indexOf("mini") > -1) {
          classes.splice(classes.indexOf("mini"), 1);
          nav.className = classes.join(" ");
        }
      }
    }; /// finally
  </script>
<%- include('../partials/footer.ejs') %>
