<%- include('../../partials/header.ejs') %>
<section class="hero is-medium is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Our Partners
      </h1>
      <h2 class="subtitle">
        Other servers or websites that have partnered with Discord Bot Universe.
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <div class="container is-fluid">
      <div class="_bot-list columns is-multiline is-mobile">
        <% if (usersData.length == 0) { %>
        <h3 class="title is-3">No users available to list.</h3>
        <% } else { %>
        <%- userChunk.map(chunk => `${chunk.map(users => include("../../partials/partnercard.ejs", {users})).join("")}`).join("") %>
        <% } %>
      </div>
    </div>
  </section>  
<%- include('../../partials/footer.ejs') %>
